# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.po~
*.yaml

.DS_Store
sav/

# C extensions
*.so

# Distribution / packaging
.Python
sav/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints
*.po~
